<div class="container pt-5">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Menu</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Voir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menu of menuList, index as i">
        <td>{{menu?.label}}</td>
        <td>
          <span *ngFor="let meal of menu.meals">
            {{meal?.label}};
          </span>
        </td>
        <td>{{menu?.priceDF}}</td>
        <td></td>
      </tr>

    </tbody>
  </table>
</div>
