<div class="row pt-5">
  <div class="col-md-6 mx-auto my-5">
    <div class="card roudend-0">
      <div class="card-header bg-primary">
        <h3 class="mb-0 text-white">
          Register
        </h3>
      </div>
      <div class="card-body">
        <form class="form" (ngSubmit)="registerUser(f)" #f="ngForm">
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control " required name="email" [(ngModel)]="email">
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control " required name="password" [(ngModel)]="password">
          </div>
          <button type="submit" class="btn btn-primary float-right">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
